name: Publish
on:
  push:
    tags:
      - 'v*'

jobs:
  package:
    name: Package

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.x']

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Tools
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel twine

      - name: Package (wheel)
        run: python setup.py bdist_wheel

      - name: Package (sdist)
        if: matrix.python-version == '3.x'
        run: python setup.py sdist

      - name: Publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
        run: twine upload dist/*
