name: Publish
on:
  push:
    tags:
      - 'v*'

jobs:
  package:
    name: Package

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9']

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -e .[tests]

      - name: Unit Tests
        run: pytest -v -s gtts/
        env:
          TEST_LANGS: all

      - name: Install Tools
        run: pip install --upgrade setuptools wheel twine

      - name: Package (wheel)
        run: python setup.py bdist_wheel

      - name: Package (sdist)
        if: matrix.python-version == '3.x'
        run: python setup.py sdist

      - name: Publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
        run: twine upload dist/*
