name: Release

on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      # For release-please:
      pull-requests: write
      contents: write
      # IMPORTANT: this permission is mandatory for trusted publishing
      # https://docs.pypi.org/trusted-publishers/using-a-publisher/
      id-token: write
    environment:
      # Environment to narrow down the publish scope
      name: production
      url: https://pypi.org/project/gTTS/${{ steps.release.outputs.tag_name }}/

    steps:
      - name: Release Please
        uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: python
          package-name: gTTS

      # Only do the rest (package build/push) if a release was created
      - name: Checkout
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v4
      - name: Setup Python
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install build dependencies
        if: ${{ steps.release.outputs.release_created }}
        run: |
          pip install --upgrade pip
          pip install build
      - name: Build package
        if: ${{ steps.release.outputs.release_created }}
        run: python -m build
      - name: Publish package
        if: ${{ steps.release.outputs.release_created }}
        uses: pypa/gh-action-pypi-publish@2f6f737ca5f74c637829c0f5c3acd0e29ea5e8bf

# References:
# * Release Please:
#   https://github.com/googleapis/release-please
# * Release Please (GitHub Action)
#   https://github.com/google-github-actions/release-please-action
# * Conventional Commits:
#   https://www.conventionalcommits.org/