name: Fast Test
on:
  push:
    branches:
      - '!refs/pull/*'

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: [2.7, 3.7]

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -e .[tests]
      - name: Lint
        run: flake8 --count --show-source --statistics
      - name: Type Check
        if: matrix.python-version > 3
        run: |
          pip install mypy
          mypy . --ignore-missing-imports
      - name: Unit Test (en)
        run: pytest -v -s gtts/
        env:
          TEST_LANGS: en