name: Tests
on:
  push:
    tags-ignore:
      - 'v*'
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Unit

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['2.x', 3.6, 3.7, 3.8, 3.9]
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -e .[tests]

      - name: Unit Tests
        run: pytest -v -s gtts/ --cov=gtts --cov-config=setup.cfg --cov-report=xml
        env:
          TEST_LANGS: all

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v2.1.0
